<!-- BOF cluster.view.html -->
<div class="container-fluid container-cards-pf
            container-pf-nav-pf-vertical
            container-pf-nav-pf-vertical-with-sub-menus">
    <div id="cluster_wide_container">
        <div class="row row-cards-pf">
            <div class="col-md-12">
                <div class="card-pf card-pf-utilization">
                    <div class="card-pf-heading">
                        <p class="card-pf-heading-details"></p>
                        <h2 class="card-pf-title">
                            <span class="pficon pficon-cluster"></span>&nbsp;&nbsp;Proctor Cluster Composition
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="individual_node_container">
        <div pf-card-view
             config="clusterController.nodeCardViewConfiguration"
             items="clusterController.nodes">
            <div class="col-md-12">
                <span>{{item.nodeID}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.configuredLocalPort}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.context}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.keystorePath}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.localAddress}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.localAddressAndPort}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.localContextUrl}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.localPort}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.protocol}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.proxyAddressAndPort}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.proxyListenAddress}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.proxyListenPort}}</span>
            </div>
        </div>
    </div>
</div>
<!-- EOF cluster.view.html -->