<!-- BOF handlers.view.html -->
<div class="container-fluid container-cards-pf
            container-pf-nav-pf-vertical
            container-pf-nav-pf-vertical-with-sub-menus">
    <div id="cluster_wide_container">
        <div class="row row-cards-pf">
            <div class="col-md-12">
                <div class="card-pf card-pf-utilization">
                    <div class="card-pf-heading">
                        <p class="card-pf-heading-details"></p>
                        <h2 class="card-pf-title">
                            <span class="pficon pficon-service"></span>&nbsp;&nbsp;Proctor Handlers
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="individual_handler_container">
        <div pf-card-view
             config="handlersController.handlersCardViewConfiguration"
             items="handlersController.handlerConfigurationsArray">
            <div class="col-md-12">
                <span>{{item.configurationID}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.handlerType}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.pattern}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.persistent}}</span>
            </div>
            <div class="col-md-12">
                <span>{{item.priority}}</span>
            </div>
            <div ng-repeat="(key, value) in item.properties"
                 class="col-md-12">
                <span>{{key}}: {{value}}</span>
            </div>
        </div>
    </div>
</div>
<!-- EOF handlers.view.html -->